*.log
*.csv
*.db
*.xo
*.a
*.o
*.xsa
*.xclbin
*.exe
*summary
*.vcd
pl_sample_count*

.run/
.Xil/
_x/
cfg/
data/
pl_kernels/_x/
Work/
sd_card/
sim/
package/
workspace/
x86simulator_output/
aiesimulator_output/