# © Copyright 2022 Xilinx, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[connectivity]
nk=sim_ipc_axis_master_32:4:plin1.plin2.plin3.plin5
nk=sim_ipc_axis_slave_32:3:plout1.plout2.plout4

#Connections For LeNET Insts 0...
stream_connect=plin1.M00_AXIS:ai_engine_0.plin1
stream_connect=plin2.M00_AXIS:ai_engine_0.plin2
stream_connect=plin3.M00_AXIS:ai_engine_0.plin3
stream_connect=plin5.M00_AXIS:ai_engine_0.plin5

stream_connect=ai_engine_0.plout1:plout1.S00_AXIS
stream_connect=ai_engine_0.plout2:plout2.S00_AXIS
stream_connect=ai_engine_0.plout4:plout4.S00_AXIS

[advanced]
# Disable Profiling in hw_emu so that it is faster...
param=hw_emu.enableProfiling=false
