# © Copyright 2022 Xilinx, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[connectivity]
nk=sim_ipc_axis_master_32:4:master1.master2.master3.master4
nk=sim_ipc_axis_slave_32:3:slave1.slave2.slave3

#Connections For LeNET Insts 0...
stream_connect=master1.M00_AXIS:ai_engine_0.plin1
stream_connect=master2.M00_AXIS:ai_engine_0.plin2
stream_connect=master3.M00_AXIS:ai_engine_0.plin3
stream_connect=master4.M00_AXIS:ai_engine_0.plin4

stream_connect=ai_engine_0.plout1:slave1.S00_AXIS
stream_connect=ai_engine_0.plout2:slave2.S00_AXIS
stream_connect=ai_engine_0.plout3:slave3.S00_AXIS

[advanced]
# Disable Profiling in hw_emu so that it is faster...
param=hw_emu.enableProfiling=false
